diary
SIBEX.INI
Config/IBEXLocation.INI

Doc/

FeatureAlgorithm/Category/IBSI_GrayLevelCooccurenceMatrix/IBSI_GrayLevelCooccurenceMatrix_Category.txt
FeatureAlgorithm/Category/IBSI_GrayLevelCooccurenceMatrix/IBSI_GrayLevelCooccurenceMatrix_Feature.txt
FeatureAlgorithm/Category/IBSI_GrayLevelDistZoneMatrix/IBSI_GrayLevelDistZoneMatrix_Feature.txt
FeatureAlgorithm/Category/IBSI_GrayLevelRunLengthMatrix/IBSI_GrayLevelRunLengthMatrix_Category.txt

FeatureAlgorithm/Category/IBSI_GrayLevelCooccurenceMatrix/IBSI_GrayLevelCooccurenceMatrix_Feature.list
FeatureAlgorithm/Category/IBSI_GrayLevelDistZoneMatrix/IBSI_GrayLevelDistZoneMatrix_Feature.list
FeatureAlgorithm/Category/IBSI_GrayLevelRunLengthMatrix/IBSI_GrayLevelRunLengthMatrix_Feature.list
FeatureAlgorithm/Category/IBSI_GrayLevelSizeZoneMatrix/IBSI_GrayLevelSizeZoneMatrix_Feature.list
FeatureAlgorithm/Category/IBSI_IntensityDirect/IBSI_IntensityDirect_Feature.list
FeatureAlgorithm/Category/IBSI_IntensityHistogram/IBSI_IntensityHistogram_Feature.list
FeatureAlgorithm/Category/IBSI_IntensityVolumeHistogram/IBSI_IntensityVolumeHistogram_Feature.list
FeatureAlgorithm/Category/IBSI_LocalIntensityFeatures/IBSI_LocalIntensityFeatures_Feature.list
FeatureAlgorithm/Category/IBSI_MorphologicalFeatures/IBSI_MorphologicalFeatures_Feature.list
FeatureAlgorithm/Category/IBSI_NeighborGLDependence/IBSI_NeighborGLDependence_Feature.list
FeatureAlgorithm/Category/IBSI_NeighborIntensityDifference/IBSI_NeighborIntensityDifference_Feature.list